@font-face {
    font-family: "ECAM Regular";
    src: url("/Fonts/ECAMFontRegular.ttf");
}

body {
    padding: none;
    margin: none;
    background-color: black;
    font-family: "ECAM Regular" !important;
}
/*Colours*/
.bck-blue-grey
{
    background-color: #394a52;
}
.bck-grey
{
    background-color: #757575;
}
.bck-dark-grey
{
    background-color: #404040;
}
.bck-black
{
    background-color: black;
}
.bck-white
{
    background-color: white;
}


.mfd-body {
    position: absolute;
    background-color: black;
    padding: 0;
    margin: 0;
    top: 0;
    height: 100%;
    width: 49.5%;
}

#left {
    left: 0;
}

#right {
    left: 50.5%;
}

#mfd-splitter {
    background-color: #071924;
    position: absolute;
    left: 49.5%;
    top: 2%;
    width: 0.9%;
    height: 96%;
    border: 1px solid white;
    border-color: rgb(171, 187, 214) rgb(171, 187, 214) rgb(140, 166, 204) rgb(229, 239, 255);
}
#flight-num
{
    position:absolute;
    right: 1%;
    top: 0.5%;
    font-size: 200%;
    color: white;
}
.SystemWindow
{
    position: absolute;
    top: 3.5%;
    width: 100%;
    height: 80%;
}