.dropdown-system-body
{
    position: absolute;
    height: 3.5%;
    width: 20%;
    color: cyan;
    .drop-top-inner
    {
        text-align: left;
        position: absolute;
        width: 75%;
        left: 2.5%;
        top: 10%;
        height: 80%;
    }
    .drop-lower-body
    {        
        text-align: left;
    }   
}
.dropdown-general-body
{
    position: absolute;
    height: 6.5%;
    width: 25%;
}

.drop-lower-body
{        
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 100%;
    .drop-lower-inner
    {
        position: absolute;
        left: 2.5%;
        height: 95%;
        width: 95%;
        .drop-item
        {
            position: absolute;
            left: 5%;
            height: 95%;
            width: 90%;
        }
    }
}
.drop-arrow
{
    position: absolute;
    right: 5%;
    top: 5%;
}
    
