.fmc-dropdown-body
{  
    position: absolute;
    height: 3.5%;
    width: 20%;
    .drop-top
    {
        position: absolute;
        top: 12.5%;
        left: 2.5%;
        height: 85%;
        width: 95%;
        .drop-top-inner
        {
            position: absolute;
            width: 75%;
            left: 2.5%;
            top: 10%;
            height: 80%;
        }
    }
    .drop-lower-body
    {        
        z-index: 1;
        position: absolute;
        width: 100%;
        top: 100%;
        .drop-lower-inner
        {
            position: absolute;
            left: 2.5%;
            height: 95%;
            width: 95%;
            .drop-item
            {
                position: absolute;
                left: 5%;
                height: 95%;
                width: 90%;
            }
        }
    }
}