h2{
    position: absolute;
    right: 82.5%;
    color: white;
    font-size: 140%; 
    height: 5%;
    padding-top: 1.5%;
}
input{
    height: 5%;
}
button{
    height: 5%;
}
.large-input
{
    width: 30%;
}
.medium-input
{
    width: 7.5%;
}
.small-input
{
    width: 13%;
}
.large-button
{
    width: 25%;
}
.medium-button{
    width: 22%;
    height: 7%;
}